html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.5em;
  background: #EEEEEE;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.53);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.53);
}

body::-webkit-scrollbar-thumb {
  background-color: #FF4040;
  outline: 1px solid slategrey;
  border-radius: 30px;
}

.backtotop {
  width: 50px;
  height: 50px;
  background-color: #EEEEEE;
  position: fixed;
  bottom: 20px;
  right: 20px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
  background-image: url("../assets/svg/arrrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  display: none;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header__container {
  width: 100%;
  min-height: 10vh;
  /*position: fixed;
  top: 0;
  left: 0;
  z-index: 2;*/
}

.header__container .header__main {
  min-height: 10vh;
  padding-left: 1em;
  padding-right: 1em;
  background: #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container .header__main .header__main__logo h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.header__container .header__main .header__main__logo p {
  font-size: 28px;
  font-style: italic;
  margin-top: -20px;
  color: #FF4040;
}

.header__container .header__main .header__main__nav {
  width: 80vh;
}

.header__container .header__main .header__main__nav .menuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__container .header__main .header__main__nav .menuList a {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.53);
  position: relative;
}

.header__container .header__main .header__main__nav .menuList a:hover {
  color: #FF4040;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.header__container .header__main .header__main__nav .menuList a::before {
  content: "";
  position: absolute;
  top: 28px;
  width: 100%;
  height: 2px;
  background: grey;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.header__container .header__main .header__main__nav .menuList a:hover::before {
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  background: #FF4040;
}

.header__container .header__main .header__main__nav .menuList a:focus::before {
  content: "";
  position: absolute;
  top: 28px;
  width: 100%;
  height: 2px;
  background: #FF4040;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header__container .header__main .header__main__nav .menuList a:focus {
  color: black;
  font-weight: bold;
}

main {
  margin-top: auto;
}

.home__container {
  height: 90vh;
}

.home__container .home__main {
  overflow: hidden;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home__container .home__main .home__main__left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 3% 30% 10% 10%;
      grid-template-columns: 35% 3% 30% 10% 10%;
  -ms-grid-rows: 200px 0px 120px 20px 150px;
      grid-template-rows: 200px 0px 120px 20px 150px;
}

.home__container .home__main .home__main__left p {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 4;
      grid-column-end: span 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  font-size: 20px;
  letter-spacing: 0.2em;
  -ms-grid-column-align: center;
      justify-self: center;
}

.home__container .home__main .home__main__left #first {
  font-size: 100px;
  font-weight: 500;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 5;
      grid-column-end: span 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home__container .home__main .home__main__left #first span {
  color: #FF4040;
  font-weight: bold;
}

.home__container .home__main .home__main__left #second {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 5;
      grid-column-end: span 5;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 4;
  font-style: italic;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home__container .home__main .home__main__left #second span {
  color: #FF4040;
  font-weight: bold;
}

.home__container .home__main .home__main__right {
  position: relative;
  margin-left: 2em;
}

.home__container .home__main .home__main__right .big__cirle {
  width: 500px;
  height: 500px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF7A7A), to(#FF4040)), #FFFFFF;
  background: linear-gradient(180deg, #FF7A7A 0%, #FF4040 100%), #FFFFFF;
  border-radius: 100%;
  position: absolute;
  top: 150px;
  right: 20vh;
}

.home__container .home__main .home__main__right img {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 4.5vh;
  height: 700px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.course__container {
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  min-width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.course__container .container__main {
  background: url("/assets/svg/waves.svg");
  background-position-y: 25vh;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.course__container .container__main .main__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.course__container .container__main .main__title h1 {
  font-weight: 600;
  font-size: 80px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.course__container .container__main .main__title p {
  margin-top: -30px;
  font-weight: 500;
  font-size: 20px;
  color: #FF4040;
  font-style: italic;
  letter-spacing: 0.1em;
}

.courses__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 17vh;
}

.courses__cards .__card {
  width: 290px;
  height: 340px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.65)), to(rgba(255, 255, 255, 0))), #C4C4C4;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
  border-radius: 34px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
}

.courses__cards .yoga__card .bgCircle {
  width: 368px;
  height: 368px;
  background: url("/assets/svg/circle.svg");
}

.courses__cards .yoga__card #one {
  position: absolute;
  left: -400px;
  top: -150px;
  -webkit-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.courses__cards .yoga__card #two {
  position: absolute;
  left: +300px;
  top: +150px;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

.courses__cards .yoga__card img {
  position: absolute;
  height: 300px;
  top: 50px;
  left: 10px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.courses__cards .yoga__card:hover #one {
  left: -190px;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

.courses__cards .yoga__card:hover #two {
  left: +70px;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.courses__cards .card__wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.courses__cards .card__wrapper h1 {
  font-weight: bold;
  font-size: 70px;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-top: -1.5vh;
}

.courses__cards .__central {
  margin-top: 15vh;
}

.courses__cards .cardio__card {
  position: relative;
}

.courses__cards .cardio__card .bg__poly {
  width: 520px;
  height: 612.8px;
  background: url("/assets/svg/polygon.svg");
}

.courses__cards .cardio__card #one {
  position: absolute;
  width: 458px;
  height: 411px;
  background-size: contain;
  background-repeat: no-repeat;
  top: -120px;
  left: -400px;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

.courses__cards .cardio__card #two {
  position: absolute;
  width: 458px;
  height: 411px;
  background: url("/assets/svg/poly2.svg");
  top: 50px;
  left: 290px;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.courses__cards .cardio__card img {
  position: absolute;
  top: 40px;
  left: 10px;
  height: 300px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.courses__cards .cardio__card:hover #one {
  left: -160px;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

.courses__cards .cardio__card:hover #two {
  left: 50px;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.courses__cards .dance__card {
  position: relative;
}

.courses__cards .dance__card .bg__rect {
  width: 355px;
  height: 175px;
  background: url("/assets/svg/rectangle.svg");
}

.courses__cards .dance__card #one {
  position: absolute;
  left: -400px;
  top: -29px;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.courses__cards .dance__card #two {
  position: absolute;
  left: 290px;
  top: 60px;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.courses__cards .dance__card #three {
  position: absolute;
  left: -400px;
  top: 250px;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

.courses__cards .dance__card img {
  position: absolute;
  height: 300px;
  top: 40px;
  left: -5px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.courses__cards .dance__card:hover #one {
  left: -100px;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

.courses__cards .dance__card:hover #two {
  left: 75px;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.courses__cards .dance__card:hover #three {
  left: -120px;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

@-webkit-keyframes one_enter {
  from {
    left: -300px;
  }
  to {
    left: -190px;
  }
}

@keyframes one_enter {
  from {
    left: -300px;
  }
  to {
    left: -190px;
  }
}

.pricing__container {
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 100%;
  background: white;
}

.pricing__container .pricing__main {
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.pricing__container .pricing__main .pricing__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.pricing__container .pricing__main .pricing__title h1 {
  font-weight: 600;
  font-size: 80px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.pricing__container .pricing__main .pricing__title p {
  margin-top: -20px;
  font-weight: 500;
  font-size: 20px;
  color: #ff4040;
  font-style: italic;
  letter-spacing: 0.1em;
}

.pricing__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 15vh;
  position: relative;
}

.pricing__cards .card__wrapper {
  background: url("/assets/svg/long_rect.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  min-height: 72vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.pricing__cards .card__wrapper h1 {
  font-weight: bold;
  font-size: 70px;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  color: #d35555;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  position: absolute;
  z-index: 2;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 1.5vh;
}

.pricing__cards .card__wrapper .price__tag {
  position: relative;
  margin: 0 auto;
  margin-top: -4.5vh;
  width: 200px;
  height: 78px;
  background: #FF7272;
  -webkit-box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing__cards .card__wrapper .price__tag #price {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 0.075em;
  text-transform: lowercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -1vh;
}

.pricing__cards .card__wrapper .price__tag span {
  font-weight: bold;
  letter-spacing: 0.075em;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 49px;
}

.pricing__cards .__card {
  width: 352px;
  height: 443.3px;
  background-color: #eeeeee;
  background-image: url("/assets/svg/bg_pricing.svg");
  background-repeat: no-repeat;
  background-position-y: 35vh;
  border-radius: 34px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
  margin-top: 7vh;
}

.pricing__cards ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 15vh auto;
  list-style: none;
}

.pricing__cards ul li {
  background: url("/assets/svg/tick.svg") no-repeat transparent;
  list-style-type: none;
  padding: 0px 0px 10px 35px;
  vertical-align: middle;
}

.about__container {
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  min-width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.about__container .about__main {
  background: url("/assets/svg/bg_about.svg");
  background-position-y: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  min-width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.about__container .about__main .main__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 14vh;
}

.about__container .about__main .main__section .section__left {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  background: url("/assets/img/5.jpg");
  background-position: center;
  background-size: cover;
}

.about__container .about__main .main__section .section__right .big__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.about__container .about__main .main__section .section__right .big__title h1 {
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.about__container .about__main .main__section .section__right .big__title p {
  font-style: italic;
  font-weight: normal;
  font-size: 74px;
  color: #FF4040;
  margin-top: -7vh;
  text-align: center;
}

.about__container .about__main .main__section .section__right pre {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 42px;
  text-align: justify;
  color: #000000;
}

.about__container .about__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.about__container .about__title h1 {
  font-weight: 600;
  font-size: 80px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.about__container .about__title p {
  margin-top: -30px;
  font-weight: 500;
  font-size: 20px;
  color: #ff4040;
  font-style: italic;
  letter-spacing: 0.1em;
}

.contact__container {
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  min-width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.contact__container .contact__main {
  background: url("/assets/svg/bg_contact.svg");
  background-position-y: 20vh;
  background-repeat: no-repeat;
  background-position-x: -300px;
  background-size: contain;
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  min-width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.contact__container .contact__main .main__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 14vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__container .contact__main .main__section .section__left {
  width: 600px;
  height: 600px;
  border-radius: 30px;
  background: url("/assets/img/6.jpg");
  background-position: center;
  background-size: cover;
}

.contact__container .contact__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.contact__container .contact__title h1 {
  font-weight: 600;
  font-size: 80px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.contact__container .contact__title p {
  margin-top: -30px;
  font-weight: 500;
  font-size: 20px;
  color: #ff4040;
  font-style: italic;
  letter-spacing: 0.1em;
}

.contact__container .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5vh;
}

.contact__container .list-item p {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 42px;
}

.footer__container {
  min-height: 5vh;
  max-height: 10vh;
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container .logo__container h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.footer__container .logo__container p {
  font-size: 28px;
  font-style: italic;
  margin-top: -20px;
  color: #ff4040;
}

.footer__container .disclaimer {
  margin-right: 1rem;
}

.footer__container .disclaimer span {
  font-weight: 700;
  color: #ff4040;
}

.footer__container .social__icon__container {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container .social__icon__container a {
  text-decoration: none;
  color: unset;
}

.footer__container .social__icon__container .social_icon {
  font-size: 36px;
  width: 36px;
  color: #ff4040;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter 0.3s ease-out;
  transition: -webkit-filter 0.3s ease-out;
  transition: filter 0.3s ease-out;
  transition: filter 0.3s ease-out, -webkit-filter 0.3s ease-out;
}

.footer__container .social__icon__container a:hover .social_icon {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: -webkit-filter 0.3s ease-in;
  transition: -webkit-filter 0.3s ease-in;
  transition: filter 0.3s ease-in;
  transition: filter 0.3s ease-in, -webkit-filter 0.3s ease-in;
}
/*# sourceMappingURL=style.css.map */